
.box{
    width: 300px;
    border: 2px solid gray;
    padding: 10px;
    height: 250px;
  
       
  }
  .cardContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 220px;
  }
  .cardBtn{
    text-align: right;
    margin: 0px 10px 10px 0px;
    
  }
  .cardBtn>button{
    border: transparent;
    cursor: pointer;
  }

  .List{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  .contentP{
    font-size: 20px;
  }